{% extends 'base.html.twig' %}
{% block title %} Question List {% endblock %}
{% block body %}
    <h1>{% trans %}Questions{% endtrans %}:</h1>
    <h1>{{ '**Test:**' }}</h1>
    <div class="row">
        <div class="col-sm-5 col-md-6 col-12 pb-4">

            {% for question in pager %}
                <div class="comment mt-4 text-justify w-100">
                    <img src="{{ asset('images/cat.jpg') }}" alt="" class="rounded-circle" width="40" height="40">
                    <h4>{{ question.name }}</h4>
                    <span>- {{ question.addedAt|date }}</span>
                    <span>- <b>{{ question.owner ? question.owner.displayName : '' }}</b></span>
                    {% for tag in question.tags %}
                        <span class="badge bg-primary ms-sm-1">{{ tag.name }}</span>
                    {% endfor %}

                    <p class="mt-4">{{ question.question }}</p>
                    {% if is_granted('EDIT', question) %}
                    <a class="btn btn-success btn-sm float-end mb-3 ms-sm-2" href="{{ path('edit-question',{id: question.id}) }}">Edit</a>
                    {% endif %}
                    <a class="btn btn-success btn-sm float-end mb-3" href="{{ path('show-question',{id: question.id}) }}">View</a>
                </div>
            {% endfor %}


        </div>

        <div class="col-12 pb-4">
            {{ pagerfanta(pager) }}
        </div>
    </div>
{% endblock %}