{% extends 'base.html.twig' %}

{% block body %}
    {% if app.request.get('_route') == 'new-question' %}
        <h1>Add Question</h1>
    {% else %}
        <h1>Edit Question</h1>
    {% endif %}

    {{ form_start(questionForm) }}
    {{ form_row(questionForm.name) }}
    {{ form_row(questionForm.question) }}
    {{ form_row(questionForm.addedAt) }}


    <div class="col-md-12">
        {# the data-index attribute is required for the JavaScript code below #}
        <ul class="tags"
            data-index="{{ questionForm.tags|length > 0 ? questionForm.tags|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(questionForm.tags.vars.prototype)|e('html_attr') }}"
        >
            {% for tag in questionForm.tags %}
                <li>{{ form_row(tag.name) }}</li>
            {% endfor %}
        </ul>

        <button type="button" class="add_item_link btn btn-info btn-sm float-end" data-collection-holder-class="tags">Add a tag</button>
    </div>

    <button type="submit" class="btn btn-success mt-4">Save</button>
    {{ form_end(questionForm) }}
    <script>
        const addFormToCollection = (e) => {
            var holderClas =  e.currentTarget.dataset ? e.currentTarget.dataset.collectionHolderClass : null;
            console.log(holderClas);
            if(holderClas){
                const collectionHolder = document.querySelector('.' + holderClas);

                const item = document.createElement('li');

                item.innerHTML = collectionHolder
                    .dataset
                    .prototype
                    .replace(
                        /__name__/g,
                        collectionHolder.dataset.index
                    );

                collectionHolder.appendChild(item);

                collectionHolder.dataset.index++;

                // add a delete link to the new form
                addTagFormDeleteLink(item);
            }

        };

        function addFormToCollection1(elem) {
            var holderClas =  elem.data('collection-holder-class');

            if(holderClas){
                var collectionHolder = $('.' + holderClas);

                var html = '<li>';
                html+= collectionHolder.data('prototype').replace(
                    /__name__/g,
                    collectionHolder.attr('data-index')
                );
                html+= '</li>';

                collectionHolder.append(html);

                collectionHolder.attr('data-index', parseInt(collectionHolder.attr('data-index')) + 1);

                // add a delete link to the new form
                addTagFormDeleteLink($('.' + holderClas+' li:last-child'));
            }

        }

        $('.add_item_link').click(function(){
            addFormToCollection1($(this));
        });

        // Remove Tag Code Start
        function addTagFormDeleteLink(item) {

            item.append('<button type="button" class="btn btn-sm btn-danger remove_tag">Remove</button>');

        }

        $('body').on('click','.remove_tag',function (e) {
            $(this).closest('li').remove();
        });

        $("ul.tags li").each(function () {
            addTagFormDeleteLink($(this))
        });
        // Remove Tag Code End
    </script>
{% endblock %}

{% block title %}

{% endblock %}

{%  block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}" ></script>
{% endblock %}

